
a{
    text-decoration: none;
    color: #00a1d6;
}
.body{
    width: 1000px;
    margin: 50px auto;
}
.title{
    position: relative;
}
.login-tip{
    font-size: 38px;
    color: #000000;
    background-color: #fff;
    margin-left: 450px;
}
.login-tip::before{
    content:"" ;
    
    position: absolute;
    left: 10px;
    top: 30px;
    /* top: 216px; */
    width:400px;
    height: 1px;
    background-color: #ddd;
}
.login-tip::after{
    content:"" ;
    position: absolute;
    left: 560px;
    top: 30px;
    width:400px;
    height: 1px;
    background-color: #ddd;
}
.content{
    display: flex;
    justify-content: space-around;
    
}
.content-left-download{
    position: relative;
    width: 480px;
    height: 192px;
    margin-bottom: -20px;
}
.login-ma{
    position: absolute;
    width: 160px;
    height: 210px;
    margin: 50px 0px 0px 140px ;
}
.login-pic{
    position: absolute;
    left: -30px;
    top: 50px;
    width: 550px;
    display: none;
}
.summary{
    width: 510px;
    height: 160px;
    margin-left: -30px;
    margin-top: 40px;
    color:  #717171;
    background-image: url(./login.img/login-character.png);
}
.summary p{
    text-align: center;
}
.summary p:nth-child(1){
    display: block;
    margin-left: -25px;
    margin-top: 100px;
    font-size: 18px;
    color: #000000;
}
.summary p:nth-child(2){
    display: block;
    margin-left: -30px;
   color:  #717171;
}
.summary p:nth-child(2) a{
    color: #00a1d6;
    cursor: pointer;
}
.login-ma:hover{
    display: none;
}
.login-ma:hover+.login-pic{
    display: block;
} 
.content-left{
    position: relative;
}
.content-left::before{
    content: "";
    width: 1px;
    height: 400px;
    position: absolute;
    top: 0px;
    background-color: #ddd;
    left: 490px;
    z-index: 33;
}                

.content-right{
    margin-left: 50px;
    margin-top: 80px;
}
.password-login{
    color: #555555;
    font-size: 14px;
    cursor: pointer;
}
.message-login{
    font-size: 14px;
    color: #555555;
    cursor: pointer;
    margin-left: 5px;
}
.login-methods .show1{
    color: #73c9e5;
}
#ipt1,#ipt2,#ipt3,#ipt4,#ipt5{
    width: 388px;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #aaa;
    font-size: 14px;
    padding: 10px;
    height: 18px;
    vertical-align: middle;
    border-radius: 4px;
    outline: none;
    margin-top: 20px;  
}
.tip{
    display: block;
    color: #f66495;
    font-size: 12px;
    height: 20px;
}
.content-right .work{
    height: 180px;
    margin-top:10px;
}
.content-right .show{
    display: none;
}
#ipt3{
    cursor: pointer;
    display:block;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 38px;
    width: 100px;
    line-height: 40px;
    padding: 0 15px;
}
#ipt4{
    display:block;
    background-color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #dcdfe6;
    width: 288px;
    margin-left: 100px;
    margin-top: -40px;
    
}

#get-code{
    position: relative;
    cursor: pointer;
    display: block;
    background-color: #409eff;
    color: #fff;
    width: 100px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    top: -38px;
    left: 310px;
}
.brief{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 25px;
}

.alert{
    display: block;
    font-size: 13px;
    color: #BBBBBB;
    margin-left: 4px;
}
.error-login{
    display: block;
    font-size: 13px;
    margin-left: 10px;
}
.forget-password{
    display: block;
    font-size: 13px;
    margin-left: 10px;
}

#btn1{
    border: 1px solid #0381aa;
    color: #fff;
    background-color: #00a7de;
    border-radius: 2px;
    width: 184px;
    
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin-top: 30px;
}
#btn2{
    color: #555;
    display: inline-block;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 184px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
}
.btns a{
    color: #555;
}

#btn1:hover{
    background-color: #00bee7;
}

#btn2:hover{
    background-color: #f7f7f7;
}



.over{
   font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #99a2aa;
    text-align: center;
    margin: 30px ;
}