
{{ define "sidebar" }}
<div class="user">
    <div class="left">
        <div>
            <span class="name">晚来风祐</span>
            <span class="level">&nbsp; lv3 &nbsp;</span><br>
            <span class="dirction">修炼很漫长。lofter/wb：晚来风祐</span>
        </div>
    </div>
    <div class="right">
        <button>关注</button>
        <button>发消息</button>
    </div>
</div>
{{ end }}