<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <div class="content">
        <div class="user">
            <div class="left">
                <img src="https://i0.hdslb.com/bfs/face/member/noface.jpg@72w_72h_1c.webp">
                <div>
                    <span class="name">晚来风祐</span>
                    <span class="level">&nbsp; lv3 &nbsp;</span><br>
                    <span class="dirction">修炼很漫长。lofter/wb：晚来风祐</span>
                </div>
            </div>
            <div class="right">
                <button>关注</button>
                <button>发消息</button>
            </div>
        </div>
        <div class="user-bottom">
            <div class="left">
                <div class="option">
                    <a href="#">
                        <img src="/image/homepage.png">
                        <span>主页</span>
                    </a>
                    <a href="#">
                        <img src="/image/active.png">
                        <span>动态</span>
                    </a>
                    <a href="#">
                        <img src="/image/article.png" alt="">
                        <span>投稿</span>
                    </a>
                    <a href="#">
                        <img src="/image/channel.png" alt="">
                        <span>频道</span>
                    </a>
                    <a href="#">
                        <img src="/image/like.png" alt="">
                        <span>订阅</span>
                    </a> 
                </div>  
            </div>
            <div class="search">
                <input type="text" placeholder="搜索视频">
                <div class="title-search"></div>
            </div>
            <div class="right">
                <a href="#">
                    <span>关注数</span><br>
                    <span>93</span>
                </a>
                <a href="#">
                    <span>粉丝数</span><br>
                    <span>824</span>
                </a>
                <a href="#">
                    <span>获赞数</span><br>
                    <span>6685</span>
                </a>
                <a href="#">
                    <span>播放数</span><br>
                    <span>4.3万</span>
                </a>
                <a href="#">
                    <span>阅读数</span><br>
                    <span>0</span>
                </a>
            </div>
        </div>
        <div class="all">
            <div class="left">
                <div class="his-video-title">
                    <div>
                        <h>TA的视频</h>
                        <span class="issue show1">最新发布</span>
                        <span class="issue">最多播放</span>
                        <span class="issue">最多收藏</span>
                    </div>  
                    <div class="content-more">更多 ></div>
                </div>
                <div class="Oitem show">
                    <div class="floor">
                        <div>
                            <img class="videoImg" src="/image/video1.png" alt=""><br>
                            <a href="#">【原创中国风动画】《启祯·月圆》</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">5.7万</p>
                                <img src="/image/time.png">
                                <p class="video-p">2-15</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video1.png" alt=""><br>
                            <a href="#">【原创中国风动画】《启祯·月圆》</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">5.7万</p>
                                <img src="/image/time.png">
                                <p class="video-p">2-15</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video1.png" alt=""><br>
                            <a href="#">【原创中国风动画】《启祯·月圆》</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">5.7万</p>
                                <img src="/image/time.png">
                                <p class="video-p">2-15</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video1.png" alt=""><br>
                            <a href="#">【原创中国风动画】《启祯·月圆》</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">5.7万</p>
                                <img src="/image/time.png">
                                <p class="video-p">2-15</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video1.png" alt=""><br>
                            <a href="#">【原创中国风动画】《启祯·月圆》</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">5.7万</p>
                                <img src="/image/time.png">
                                <p class="video-p">2-15</p>
                            </span>
                        </div>
                    </div>
                    <div class="floor">
                        <div>
                            <img class="videoImg" src="/image/video1.png" alt=""><br>
                            <a href="#">【原创中国风动画】《启祯·月圆》</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">5.7万</p>
                                <img src="/image/time.png">
                                <p class="video-p">2-15</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video1.png" alt=""><br>
                            <a href="#">【原创中国风动画】《启祯·月圆》</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">5.7万</p>
                                <img src="/image/time.png">
                                <p class="video-p">2-15</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Oitem">
                    <div class="floor">
                        <div>
                            <img class="videoImg" src="/image/video2.png" alt=""><br>
                            <a href="#">苏轼×苏辙[水光潋滟晴方好，山色空蒙雨亦奇]</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-9-30</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video2.png" alt=""><br>
                            <a href="#">苏轼×苏辙[水光潋滟晴方好，山色空蒙雨亦奇]</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-9-30</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video2.png" alt=""><br>
                            <a href="#">苏轼×苏辙[水光潋滟晴方好，山色空蒙雨亦奇]</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-9-30</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video2.png" alt=""><br>
                            <a href="#">苏轼×苏辙[水光潋滟晴方好，山色空蒙雨亦奇]</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-9-30</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video2.png" alt=""><br>
                            <a href="#">苏轼×苏辙[水光潋滟晴方好，山色空蒙雨亦奇]</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-9-30</p>
                            </span>
                        </div>
                    </div>
                    <div class="floor">
                        <div>
                            <img class="videoImg" src="/image/video2.png" alt=""><br>
                            <a href="#">苏轼×苏辙[水光潋滟晴方好，山色空蒙雨亦奇]</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-9-30</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video2.png" alt=""><br>
                            <a href="#">苏轼×苏辙[水光潋滟晴方好，山色空蒙雨亦奇]</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-9-30</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="Oitem">
                    <div class="floor">
                        <div>
                            <img class="videoImg" src="/image/video3.png" alt=""><br>
                            <a href="#">【王也】77关键帧还原一人之下名场面</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-8-22</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video3.png" alt=""><br>
                            <a href="#">【王也】77关键帧还原一人之下名场面</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-8-22</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video3.png" alt=""><br>
                            <a href="#">【王也】77关键帧还原一人之下名场面</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-8-22</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video3.png" alt=""><br>
                            <a href="#">【王也】77关键帧还原一人之下名场面</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-8-22</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video3.png" alt=""><br>
                            <a href="#">【王也】77关键帧还原一人之下名场面</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-8-22</p>
                            </span>
                        </div>
                        
                    </div>
                    <div class="floor">
                        <div>
                            <img class="videoImg" src="/image/video3.png" alt=""><br>
                            <a href="#">【王也】77关键帧还原一人之下名场面</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-8-22</p>
                            </span>
                        </div>
                        <div>
                            <img class="videoImg" src="/image/video3.png" alt=""><br>
                            <a href="#">【王也】77关键帧还原一人之下名场面</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">292</p>
                                <img src="/image/time.png">
                                <p class="video-p">2020-8-22</p>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <h style="margin-top: 10px;">TA的专栏</h>
                <hr>
                <div class="fanju">
                    <h>订阅番剧</h>
                    <div class="content-more">更多 ></div>
                </div>
                <div class="fanju-content">
                    <div class="floor">
                        <div class="Eitem">
                            <div>
                                <a><img src="/image/fanju.png" alt=""></a>
                            </div>
                            <div>
                                <span>完</span>
                                <a href="#">天官赐福</a><br>
                                <span>仙乐国太子谢怜接连被贬后第三次飞升成仙，却不慎破坏了神官们的金殿，无人供奉的他只能下凡除鬼来换取功德作为补偿。在凡间的历练中，谢怜结识了两</span>
                            </div>
                        </div>
                        <div class="Eitem">
                            <div>
                                <a><img src="/image/fanju.png" alt=""></a>
                            </div>
                            <div>
                                <span>完</span>
                                <a href="#">天官赐福</a><br>
                                <span>仙乐国太子谢怜接连被贬后第三次飞升成仙，却不慎破坏了神官们的金殿，无人供奉的他只能下凡除鬼来换取功德作为补偿。在凡间的历练中，谢怜结识了两</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="floor">
                        <div class="Eitem">
                            <div>
                                <a><img src="/image/fanju.png" alt=""></a>
                            </div>
                            <div>
                                <span>完</span>
                                <a href="#">天官赐福</a><br>
                                <span>仙乐国太子谢怜接连被贬后第三次飞升成仙，却不慎破坏了神官们的金殿，无人供奉的他只能下凡除鬼来换取功德作为补偿。在凡间的历练中，谢怜结识了两</span>
                            </div>
                        </div>
                        <div class="Eitem">
                            <div>
                                <a><img src="/image/fanju.png" alt=""></a>
                            </div>
                            <div>
                                <span>完</span>
                                <a href="#">天官赐福</a><br>
                                <span>仙乐国太子谢怜接连被贬后第三次飞升成仙，却不慎破坏了神官们的金殿，无人供奉的他只能下凡除鬼来换取功德作为补偿。在凡间的历练中，谢怜结识了两</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <hr>
                <div class="like">
                    <h>订阅标签</h>
                    <div class="content-more">更多 ></div>
                </div>
                <hr>
                <div class="insert-coin">
                    <h>最近投币的视频</h>
                </div>
                <div class="coin-content">
                    <div class="floor">
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>    
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>    
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>    
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>    
                            
                    </div>
                    <div class="floor">
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>    
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>    
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>    
                        <div>
                            <img class="sp" src="/image/coin.png" alt=""><br>
                            <a href="#">【镇魂】澜：换个发型也不能反攻（叹气）</a>
                            <span  class="video-sp1">
                                <img src="/image/play.png">
                                <p class="video-p">9万</p>
                                <img src="/image/time.png">
                                <p class="video-p">530</p>
                            </span>
                        </div>    
                            
                    </div>
                </div>
            </div>
            <div class="right">
                <span>
                    <img src="/image/UID.png" alt="">
                    <span>384062727</span>
                </span>
                <span>
                    <img src="/image/cake.png" alt="">
                    <span>9-16</span>
                </span>
            </div>
        </div>
    </div>

    <script src="/js/homepage.js"></script>
</body>
</html>